<div class="monitor-section">
    <h1>Live system monitoring</h1>

    <div id="error" class="jumbotron" style="background: red;" ng-show="'{{error.value}}'">Something went wrong:
        <p>{{error.text}}
    </div>
    <div class="row">
        <just-gage id="capacity" class="col-sm-6" min=0 max=500 value="readings.capacity" title="Capacity"></just-gage>
        <just-gage id="meter2" class="col-sm-6" min=0 max=100 value="readings.gauge2" title="Static Gage"></just-gage>
    </div>
    <div class="row">
        <just-gage id="meter3" class="col-sm-6" min=0 max=100 value="readings.gauge3" title="Static Gage"></just-gage>
        <just-gage id="meter4" class="col-sm-6" min=0 max=100 value="readings.gauge4" title="Static Gage"></just-gage>
    </div>
</div>