<section ng-include src="'views/monitor.html'" ng-controller="MonitorCtrl"></section>

<div ng-controller="RestCtrl">
    <h1>Recipe creator</h1>
    Create your own recipe!
    <div id="error" class="jumbotron" style="background: red;" ng-show="'{{error.value}}'">Something went wrong:
        <p>{{error.text}}
    </div>
    <form>Name your recipe:
        <input id="recipeName" ng-model="recipeName" type="text" required="true" ng-required="true">
        <!--<button>Update</button>-->
    </form>
    <section ng-hide="recipeName ===''">
        <section class="" title="Change recipe" ng-repeat="operation in operations">
            <hr/>
            <h4>{{operation.operation|uppercase}} {{operation.name|uppercase}}</h4>

            <form name="form" class="col-md-12">
                {{operation.operation}} {{operation.name}} <input name="input" type="number"
                                                                  ng-model="operation.value"
                                                                  required> {{operation.unit}}
                <button title="add" ng-click="operation.activate(operation)">add</button>
            </form>
        </section>
    </section>
    <section class="recipeSteps" ng-hide="recipeSteps.length ===0">
        <h4>Recipe</h4>
        <ol>
            <li ng-repeat="step in recipeSteps track by $index">
                {{step.type}}: {{step.ingredient}} ({{step.duration}}{{step.temperature.value}}{{step.volume.value}}
                {{step.volume.unit}}{{step.temperature.scale}})
            </li>
        </ol>
        <button ng-click="submitRecipe()">Submit recipe</button>
    </section>

</div>