.operations {
border : 1 px solid red;
    clear: both;
}

.operations li {
 border : 1 px solid green;
    padding: 5px;
    display: block;
    float: left;
    text-align: center;
    margin-right: 3%;
}

.operations li img {
    width: 120px;
    height: 120px;
    margin-bottom: 5px;
}

.background {
    background: url("../images/bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.middlepane {
    background: #ffffff;
    filter: alpha(opacity=85);
    -moz-opacity: .85;
    opacity: .85;
    padding: 2%;
    border-radius: 2%;
    z-index: -50;
}
h1{
    color: #fff;
}

.orange {
    color: orange;
}

.footer {
    color: orange;
    text-align: right;
}

.operations input {
    display: block;
    width: 50px;
    margin: 5px auto;
    margin-top: 0px;

}

.clear {
    clear: both;
}

div.gauge {
    width: 250px;
    height: 200px;
    padding: 0px;
    display: inline-table;
}