.operations {
    //border: 1px solid red;
    clear: both;
}

.operations li {
    //border: 1px solid green;
    padding: 5px; 
    display: block;
    float: left;
    text-align: center;
    margin-right: 3%;
}

.operations li img {
    width: 120px;
    height: 120px;
    margin-bottom: 5px;
}


.footer
{
    text-align: right;
}

.operations input {
    display: block;
    width: 50px; 
    margin: 5px auto;
    margin-top: 0px;
    
}

.clear {
    clear: both;
}

div.gauge {
    width: 700px;
    height: 300px;
}